In [336]:
def recoveryFmtDateToText(pStr):
    monthOrder = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12 }
    l = pStr.split('-')
    return (str(monthOrder[l[1]]) + ' - ' + l[0])

In [337]:
recoveryFmtDateToText('12-Jul')

'7 - 12'

In [7]:
def changeToCorrectStr( pStr ):
    strErrorDict = {"a_o":"ñ", "l_s":"e", "b_s":"a", "m_t":"a"}
    for key in strErrorDict:
        pos = pStr.find(key)
        if pos != -1:
            ls = list(pStr)
            ls[pos+1] = strErrorDict[key]
            pStr = ''.join(str(cr) for cr in ls)
    return pStr

In [8]:
changeToCorrectStr('ingl_s_y_matem_ticas')

'ingles_y_matematicas'

In [1]:
pwd

'/Users/franklingonzales/Documents/GeorgiaTech_DataScienceBOOTCAMP2019/PREWORK_FGC/Projects/Project2_ETL/Scripts'

In [4]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint

url = "https://data.pr.gov/resource/gb92-58gc"  #https://data.pr.gov/resource/gb92-58gc.json

In [31]:
pr_ed_data = requests.get(url).json()
dc_row = pr_ed_data[20]
ThreeRows = pr_ed_data[0:10]

In [33]:
len(dc_row)

8

In [26]:
l_FilterHeaders = []
for key in row.keys():
    if key.find("grado_") == -1:
        newKey = changeToCorrectStr( key )
        l_FilterHeaders.append(newKey)
l_FilterHeaders

['bajo_nivel_pobreza',
 'codigo',
 'direccio_estado',
 'direccio_fisica',
 'direccion_municipio',
 'direccion_zipcode',
 'director',
 'distrito',
 'escuela',
 'español_avanzado',
 'español_basico',
 'español_pre_basico',
 'español_proficiente',
 'español_proficiente_avanzado',
 'estatus_actual',
 'fax',
 'geolocalizacion',
 'grados_original',
 'grados_posterior',
 'ingles_avanzado',
 'ingles_basico',
 'ingles_pre_basico',
 'ingles_proficiente',
 'ingles_proficiente_avanzado',
 'matematicas_avanzado',
 'matematicas_basico',
 'matematicas_pre_basico',
 'matematicas_proficiente',
 'matematicas_proficiente_avanzado',
 'matricula_total',
 'municipio_escolar',
 'nivel_original',
 'region',
 'table_id',
 'telefono',
 'zona']

In [30]:
l_newJson = []
l_LatLong = []
for rec in pr_ed_data:
    if len(rec) > 15:
        dc_temp = {}
        dc_LatLong = {}
        for key in rec.keys():
            newKey = changeToCorrectStr( key )
            if newKey in l_FilterHeaders:
                if newKey == "geolocalizacion":
                    dc_LatLong["latitude"] = rec["geolocalizacion"]["latitude"]
                    dc_LatLong["longitude"] = rec["geolocalizacion"]["longitude"] 
                    l_LatLong.append( dc_LatLong )
                else:
                    dc_temp[newKey]=rec[key]
        l_newJson.append( dc_temp )
len(l_LatLong)

977

In [28]:
dfGen = pd.DataFrame(l_newJson)
#dfGen
len( l_newJson )

1000

In [398]:
dfLatLon = pd.DataFrame(lLatLong)
dfLatLon

   latitude  longitude
0  18.14372  -65.44178
1  18.05554  -66.71168
2   18.1174  -66.14892
3    18.116  -66.16099
4  18.36999  -66.17751
5  18.40972  -66.04326
6  18.02742  -67.16392
7  18.22953  -66.04733
8  18.22935  -66.39222
9    18.422  -66.07912

In [279]:
dfGen = pd.DataFrame([[ row[key] for key in row.keys() ]], columns=[ key for key in row.keys() ])

dfGen.insert(16,"latitude",[lat])
dfGen.insert(17,"longitude",[lon])

In [280]:
dfGen

,bajo_nivel_pobreza,codigo,direccio_estado,direccio_fisica,direccion_municipio,direccion_zipcode,director,distrito,escuela,espa_ol_proficiente,...,ingles_avanzado,ingles_basico,ingles_pre_basico,ingles_proficiente,ingles_proficiente_avanzado,matematicas_avanzado,matematicas_basico,matematicas_pre_basico,matematicas_proficiente,matematicas_proficiente_avanzado
0,86.24,35295,PR,CARR ESTATAL 200 ESQ CARR ESTATAL 993,VIEQUES,00765-1554,MYRIAM R RODRIGUEZ RODRIGUEZ,FAJARDO,20 DE SEPTIEMBRE DE 1988,14.68,...,5.05,26.15,54.59,14.22,19.27,0,52.75,45.87,1.38,1.38

In [227]:
dfGen.columns

Index(['direccio_fisica', 'direccion_municipio', 'direccion_zipcode',
       'grado_7', 'grado_8', 'grado_sgi', 'grados_original',
       'grados_posterior', 'ingles_avanzado', 'ingles_basico',
       'ingles_pre_basico', 'ingles_proficiente',
       'ingles_proficiente_avanzado', 'matematicas_avanzado',
       'matematicas_basico', 'matematicas_pre_basico', 'latitude', 'longitude',
       'matematicas_proficiente', 'matematicas_proficiente_avanzado',
       'matricula_total', 'municipio_escolar', 'nivel_original', 'region',
       'table_id', 'telefono', 'zona', 'bajo_nivel_pobreza', 'codigo',
       'direccio_estado', 'director', 'distrito', 'escuela',
       'español_avanzado', 'español_basico', 'español_pre_basico',
       'español_proficiente', 'español_proficiente_avanzado', 'estatus_actual',
       'fax', 'grado_6'],
      dtype='object')

## Other Proofs

In [206]:
for row in TwoRows:
    lat = row["geolocalizacion"]['latitude']
    lon = row["geolocalizacion"]['longitude']
    del row["geolocalizacion"]
    for head in row.keys():
        row[ changeToCorrectStr( head ) ] = row.pop(head)
        
    df = pd.DataFrame([[ row[key] for key in row.keys() ]], columns=[ key for key in row.keys() ])
    df.insert(16,"latitude",[lat])
    df.insert(17,"longitude",[lon])
    #dfGen.append(df)
    df

In [207]:
dfGen

,direccio_fisica,direccion_municipio,direccion_zipcode,grado_7,grado_8,grado_sgi,grados_original,grados_posterior,ingles_avanzado,ingles_basico,...,distrito,escuela,español_avanzado,español_basico,español_pre_basico,español_proficiente,español_proficiente_avanzado,estatus_actual,fax,grado_6
0,CARR ESTATAL 200 ESQ CARR ESTATAL 993,VIEQUES,00765-1554,71,61,12,"7 - 9 , EEI","7 - 9 , EEI",5.05,26.15,...,FAJARDO,20 DE SEPTIEMBRE DE 1988,6.88,37.61,40.83,14.68,21.56,SI,876-2804,74

In [183]:
df.to_csv('df.csv')

## Borrame

In [327]:
dict1 = {'A':1, 'B':2, 'C':3, 'D':4, 'E':7 }
dict2 = {'A':4, 'B':2, 'C':1, 'D':3, 'E':5 }
dict3 = {'A':7, 'B':1, 'D':2, 'E':9 }
dict4 = {'A':8, 'B':7, 'L':6, 'F':9, 'E':1 }
dict5 = {'A':4, 'B':2, 'E':5 }

In [328]:
js = [dict1, dict2, dict3, dict4, dict5]

In [329]:
js

[{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 7},
 {'A': 4, 'B': 2, 'C': 1, 'D': 3, 'E': 5},
 {'A': 7, 'B': 1, 'D': 2, 'E': 9},
 {'A': 8, 'B': 7, 'L': 6, 'F': 9, 'E': 1},
 {'A': 4, 'B': 2, 'E': 5}]

In [330]:
pprint( js )

[{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 7},
 {'A': 4, 'B': 2, 'C': 1, 'D': 3, 'E': 5},
 {'A': 7, 'B': 1, 'D': 2, 'E': 9},
 {'A': 8, 'B': 7, 'E': 1, 'F': 9, 'L': 6},
 {'A': 4, 'B': 2, 'E': 5}]

In [331]:
for rec in js:
    print(rec)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 7}
{'A': 4, 'B': 2, 'C': 1, 'D': 3, 'E': 5}
{'A': 7, 'B': 1, 'D': 2, 'E': 9}
{'A': 8, 'B': 7, 'L': 6, 'F': 9, 'E': 1}
{'A': 4, 'B': 2, 'E': 5}

In [333]:
lheaders = ['A','B','E']
newJs = []
for rec in js:
    tempDict = {}
    for key in rec.keys():
        if key in lheaders:
            tempDict[key]=rec[key]
    newJs.append( tempDict )
newJs

[{'A': 1, 'B': 2, 'E': 7},
 {'A': 4, 'B': 2, 'E': 5},
 {'A': 7, 'B': 1, 'E': 9},
 {'A': 8, 'B': 7, 'E': 1},
 {'A': 4, 'B': 2, 'E': 5}]

In [334]:
df = pd.DataFrame( newJs )

In [335]:
df

   A  B  E
0  1  2  7
1  4  2  5
2  7  1  9
3  8  7  1
4  4  2  5